{% extends "./base.html" %} {% block content %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <h2 class="text-muted">Address deatils</h2>
      <a class="mr-2" href="#">{{ address }}</a>
      <small class="text-muted">{{ address.dateAdded }}</small>
    </div>
    <ul>
      <li><small> Street: {{ address.street}}</small></li>
      <li><small> apartment: {{ address.apartment}}</small></li>
      <li><small> city: {{ address.city}}</small></li>
      <li><small> zipCode: {{ address.zipCode}}</small></li>
      <li><small> country: {{ address.country}}</small></li>
    </ul>
  </div>
</article>
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <h2 class="text-muted">List of properties on this address</h2>
    </div>
    {% for property in address.address_properties_set.all %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'propertyDetails' property.id %}"
            >{{ property.name }}</a
          >
          <small class="text-muted">{{ property.dateAdded }}</small>
        </div>
        <small
          ><a class="article-title" href="#"
            >Owner: {{ property.owner.username }}</a
          ></small
        >
      </div>
    </article>
    {% empty %}
    <small>Empty</small>
    {% endfor %}
  </div>
</article>
{% endblock content %}
