{% extends "./base.html" %}
{% block content %}
    <h1>List of registered properties</h1>
    {% for property in properties %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'propertyDetails' property.id %}">{{ property.name }}</a>
                <small class="text-muted">{{ property.dateAdded }}</small>
            </div>
            <small><a class="article-title" href="#">Owner: {{ property.owner.username }}</a></small>
            </div>
        </article>
    {% empty %}
        <small>Empty</small>
    {% endfor %}
{% endblock content %}
