{% extends "./base.html" %}
{% block content %}
    <h1>List of registered properties</h1>
    {% for property in properties %}    
        <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="{% url 'propertyDetails' property.id %}"> <b> {{ property.name }} </b></a>
                <small class="text-muted"
                  >Created: {{ property.dateAdded}}</small>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col">
                    <small><a class="article-title" href="#">Owner: {{ property.owner.username }}</a></small>
                  </div>
                  <div class="col-md-auto">
                    <a class="btn btn-primary btn-sm" href="{% url 'propertyEdit' property.id %}" role="button">Edit</a>
                  </div>
                  <div class="col col-lg-2">
                    <a class="btn btn-primary btn-sm" href="{% url 'propertyDelete' property.id %}" role="button">Delete</a>
                  </div>
                </div>
              </div>
            </div>
          </article>
    {% empty %}
        <small>Empty</small>
    {% endfor %}
{% endblock content %}
