{% load static %}
{% load extra_filters %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% if title_spec %}
            <title>{{ title_spec }} - Happy Tenants</title>
        {% else %}
            <title>Happy Tenants</title>
        {% endif %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'tnt_mgmt/base.css'%}" type="text/css">
    </head>
    <body>
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
              <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'tnt-mgmt-home' %}">Happy Tenants</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                  <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'tnt-mgmt-home' %}">Home</a>
                  </div>
                  <!-- Navbar Right Side -->
                  <div class="navbar-nav">
                    {% if request.user.is_authenticated %}
                      {% if request.user|has_groups:"administrator" %}
                        <a class="nav-item nav-link" href="/../admin">Admin Panel</a>
                      {% endif %}  
                      <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                      <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                      <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                      <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </nav>
        </header>
        <main role="main" class="container">
            <div class="row">
              <div class="col-md-8">
                {% if messages %}
                  {% for message in messages %}
                    <div class="alert alert-{{message.tags}}">
                      {{ message }}                      
                    </div>
                  {% endfor %}
                {% endif %}
                {% block content %}{% endblock %}
                {% if is_paginated %}
                  {% if page_obj.has_previous %}
                    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                  {% endif %}
                  {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                      <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                      <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
                    {% endif %}
                  {% endfor %}
                  {% if page_obj.has_next %}
                    <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
                    <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}">Last</a>
                  {% endif %}
                {% endif %}
              </div>
              {% if request.user.is_authenticated %}
              <div class="col-md-4">
                <div class="content-section">
                  <h3>Actions</h3>
                  {% if not request.user|is_active %}
                    <p class='text-muted'>No available services</p>
                  {% else %}
                    <p class='text-muted'>Navigate to any available service
                      <ul class="list-group">
                        <li class="list-group-item list-group-item-light"><a href="{% url 'issues' %}">Issues Management</a></li>
                        {% if request.user|has_groups:"administrator|manager" %}
                          <li class="list-group-item list-group-item-light"><a href="{% url 'properties'%}">Property Management</a></li>
                          <li class="list-group-item list-group-item-light"><a href="{% url 'addresses'%}">Address Management</a></li>
                        {% endif %}
                        {% if request.user|has_groups:"administrator" %}
                          <li class="list-group-item list-group-item-light"><a href="{% url 'categories'%}">Manage Issue Categories</a></li>
                        {% endif %}
                      </ul>
                    </p>
                  {% endif %}
                </div>
                {% block additional_actions %}{% endblock %}
              </div>
              {% endif %}
            </div>
          </main>
        {% block scripts %}{% endblock scripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>