{% extends "tnt_mgmt/base.html" %}
{% load extra_filters %}
{% block content %}
    <h1>List of registered users</h1>
    {% for issue in issues %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ user.username }}</a>
                <small class="text-muted">{{ user.date_joined }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ user.group_set }}</a></h2>
            <p class="article-content">{{ user.bio }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}

{% block additional_actions %}
    <div class="content-section">
        <h3>Actions</h3>
        {% if not request.user|is_active %}
        <p class='text-muted'>No available services</p>
        {% else %}
        <p class='text-muted'>Navigate to any available service
            <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a href="#">Issues Management</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'properties'%}">Property Management</a></li>
            <li class="list-group-item list-group-item-light"><a href="#">My Properties</a></li>
            <li class="list-group-item list-group-item-light"><a href="#">etc</a></li>
            </ul>
        </p>
        {% endif %}
    </div>
{% endblock additional_actions %}