{% extends "tnt_mgmt/base.html" %}
{% load crispy_forms_tags %}
{% load extra_filters %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">New Property</legend>
                {{ form|crispy }} 
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Create</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign in</a>
            </small>
        </div>
    </div>
{% endblock content %}
{% block additional_actions %}
    <div class="content-section">
        <h5 class='text-muted'>Property management tools</h5>
        <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a href="{% url 'newProperty' %}">Add property</a></li>
        </ul>
    </div>
{% endblock additional_actions %}