{% extends "./base.html" %}
{% block content %}
    <h1>Available Issue Categories</h1>
    {% for category in categories %}
                <div class="article-metadata">
                    <p class="mr-2" > Title: {{ category }}</p>
                    <p>Created: {{ category.dateAdded }}</p>
                    <a class="btn btn-primary" href="{% url 'categoryEdit' category.id %}" role="button">Edit</a>
                    <a class="btn btn-primary" href="{% url 'categoryEdit' category.id %}" role="delete">Delete</a>
                </div>
    {% empty %}
        <small>No Issue Categories Available</small>
        <a class="list-group-item list-group-item-light" href="{% url 'newCategory' %}">Add a category</a>
    {% endfor %}

{% endblock content %}