{% extends "tnt_mgmt/base.html" %}
{% block content %}
    <h1>List of registered users</h1> <a href="{% url 'create_users' %}"> Create a new user </a>
    {% for user in users %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ user.username }}</a>
                <small class="text-muted">{{ user.date_joined }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ user.group_set }}</a></h2>
            <p class="article-content">{{ user.bio }}</p>
            </div>
        </article>
    {% empty %}
        <small> Empty</small>

    {% endfor %}
{% endblock content %}