{% extends "./base.html" %} {% block content %} {% load extra_filters %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2 h3" href="{% url 'issueDetails' issue.id %}">
        <b> {{ issue }} </b></a
      >
      <small class="text-muted"
        >Created: {{ issue.created}} , Last Updated {{issue.updated}}</small
      >
    </div>
    <div>
      <br />
      <h6>Description:</h6>
      <ul class="h6">
        {{issue.description}}
      </ul>
      <h6>Current Status:</h6>
      <ul>
        {{issue.status}} {% if issue.status == 'ASSIGNED' %} to {{issue.assignee.username}}{% endif %}
      </ul>
      <h6>Submitter:</h6>
      <ul>
        {{issue.submitter}}
      </ul>
      <h6>Assigner:</h6>
      <ul>
        {{issue.manager}}
      </ul>
      <h6>Assignee:</h6>
      <ul>
        {% if issue.assignee %}
          {{issue.assignee}}
        {% endif %}
      </br></br>
      {% if request.user|has_groups:"administrator|manager" %}
        <form method="POST">
          {% csrf_token %}
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button class="btn btn-outline-secondary" type="submit"  {% if issue.status == 'CLOSED' %}disabled{% endif %}>Assign</button>
            </div>
            <select name="assignee" class="custom-select" id="inputGroupSelect03">
              {% for employee in employees  %}
              <option value="{{employee.id}}">{{employee.username}}</option>
              {% endfor %}
            </select>
          </div>
          <input type="hidden" name="action" value="assign" />
        </form>
      {% endif %}
      </ul>
      <hr />
    </div>
    <div class="container border border-gray rounded">
      <h6>Comments:</h6>
      <hr />
      <div class="border border-gray rounded">
        {% for comment in issue.issue_comments.all %}
        <div class="border border-gray rounded">
          <div>
            <ul>
              {{comment.messageText}}
            </ul>
            <ul>
              <div class="container">
                <div class="row">
                  <div class="col">
                    <small class="text-muted">By: {{comment.author}}</small>
                  </div>
                  <div class="col col-lg-5">
                    <small class="text-muted">{{comment.dateAdded}}</small>
                  </div>
                </div>
              </div>
            </ul>
          </div>
        </div>
        {% empty %}
        <small> No Comments...</small>
        {% endfor %}
      </div>
      <br>
      <div>
        <form method="POST">
          {% csrf_token %}
        Add Comments: 
        <div class="input-group mb-3">
          <fieldset class="form-group">
            <input type="text" name="comment_text" class="form-control" placeholder="Comments.." aria-label="Recipient's username" aria-describedby="basic-addon2">
            <input type="hidden" name="action" value="comment" />
          </fieldset>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" {% if issue.status == 'CLOSED' %}disabled{% endif %}>Send</button>
          </div>
        </form>
        </div>        
      </div>
    </div>
  </div>
</article>
{% endblock content %} 
{% block details_view_actions %} 
{% if request.user|has_groups:"employee" and issue.status == 'ASSIGNED' or issue.status == 'IN_PROGRESS'%}
<li class="list-group-item list-group-item-light">
  <form method="POST">
  {% csrf_token %}
    {% if issue.status == 'ASSIGNED' %}
      <button id="deleteBtn" class="btn btn-outline-danger" type="submit">
      SET TO IN PROGRESS
      </button>
      <input type="hidden" name="action" value="setStatus" />
      <input type="hidden" name="status" value="IN_PROGRESS" />
    {% elif issue.status == 'IN_PROGRESS' %}
      <button id="deleteBtn" class="btn btn-outline-danger" type="submit">
        SET TO COMPLETED
      </button>
      <input type="hidden" name="action" value="setStatus" />
      <input type="hidden" name="status" value="COMPLETED" />
    {% endif %}
  </form>
</li>
{% endif %}
{% if request.user|has_groups:"administrator|manager|tenant" %}
<li class="list-group-item list-group-item-light">
  <button id="editBtn" class="btn btn-outline-danger" type="submit">
    Edit Issue
  </button>
</li>
{% if request.user|has_groups:"administrator|manager" %}
  {% if not issue.status == 'CLOSED'%}
     <li class="list-group-item list-group-item-light">
      <form method="POST">
        {% csrf_token %}
        <button id="deleteBtn" class="btn btn-outline-danger" type="submit">
          Close Issue
        </button>
        <input type="hidden" name="action" value="setStatus" />
        <input type="hidden" name="status" value="CLOSED" />
      </form>
    </li>
  {% endif %}
    <li class="list-group-item list-group-item-light">
      <button id="deleteBtn" class="btn btn-outline-danger" type="submit">
        Delete
      </button>
    </li>
{% endif %}
{% endif %}
<script type="text/javascript">
      document.getElementById("deleteBtn").onclick = function () {
        location.href = "{% url 'issueDelete' issue.id %}";
    };
    document.getElementById("editBtn").onclick = function () {
      location.href = "{% url 'issueEdit' issue.id %}";
    };
</script>
{% endblock details_view_actions %}
