{% extends "./base.html" %} {% block content %}
{% load extra_filters %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2 h3" href="{% url 'issueDetails' issue.id %}">
        <b> {{ issue }} </b></a
      >
      <small class="text-muted"
        >Created: {{ issue.created}} , Last Updated {{issue.updated}}</small
      >
    </div>
    <div>
      <br>
      <h6>Description:</h6>
      <ul class="h6">
        {{issue.description}}
      </ul>
      <h6>Current Status:</h6>
      <ul>
        {{issue.status}}
      </ul>
      <h6>Submitter:</h6>
      <ul>
        {{issue.submitter}}
      </ul>
      <h6>Assigner:</h6>
      <ul>
        {{issue.assigner}}
      </ul>
      <h6>Assignee:</h6>
      <ul>
        {{issue.assignee}}
      </ul>
    </div>
  </div>
</article>
{% endblock content %}
{% block details_view_actions %}
  {% if request.user|has_groups:"administrator|manager|tenant" %}
    <li class="list-group-item list-group-item-light"><button id="editBtn" class="btn btn-outline-danger" type="submit">Edit Issue</button></li>
    {% if request.user|has_groups:"administrator|manager" %}
      <li class="list-group-item list-group-item-light"><button id="deleteBtn" class="btn btn-outline-danger" type="submit">Delete</button></li>
    {% endif %}
    <script type="text/javascript">
      document.getElementById("deleteBtn").onclick = function () {
        location.href = "{% url 'issueDelete' issue.id %}";
    };
    document.getElementById("editBtn").onclick = function () {
      location.href = "{% url 'issueEdit' issue.id %}";
    };
  {% endif %}
  </script>
{% endblock details_view_actions %}
